@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

$nav-color: #F73D93;

@mixin theme($dark_theme: rgb(39, 34, 34))
{
    background-color: $dark_theme;
    color: white;
    font-family: "Silkscreen", cursive;
}

* {
    margin: 0;
    padding: 0;
}

nav{
    background-color: $nav-color;
    font-size: 1.7rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    height: 20vh;
    position: fixed;
}
