{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>File Drive</title>
    {% endif %}

    <!-- priority -->
    <script src="https://code.jquery.com/jquery-3.6.0.slim.js" integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/layout.css' %}">
    <!-- priority -->
    
    {% block styles %}
    {% endblock styles%}
    
    {% block pre %}
    {% endblock pre %}
</head>
<body>
  <nav>
    <canvas class="pixelart"></canvas>
    <script src="{% static 'js/pixelart.js' %}"></script>
  </nav>
  {% block content %}
  {% endblock content %}

  {% block post %}
  {% endblock post %}
</body>
</html>